[safe]
	directory = /nix/store/wsj4mwrml0lpp2c3ms6fyah3dq8vbcxa-esp-idf-v5.4.1
	directory = /nix/store/wsj4mwrml0lpp2c3ms6fyah3dq8vbcxa-esp-idf-v5.4.1
	directory = /nix/store/wsj4mwrml0lpp2c3ms6fyah3dq8vbcxa-esp-idf-v5.4.1
	directory = /nix/store/wsj4mwrml0lpp2c3ms6fyah3dq8vbcxa-esp-idf-v5.4.1
	directory = /nix/store/wsj4mwrml0lpp2c3ms6fyah3dq8vbcxa-esp-idf-v5.4.1
